@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Accident

    <div class="flex-body">
        <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b6376f" class="nav-container">
            <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b63770" class="nav-handle open">
                <div style="-webkit-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle top"></div>
                <div style="-webkit-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle bottom"></div>
            </div>
            <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b63773" class="nav-handle closed">
                <div style="-webkit-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle top"></div>
                <div style="-webkit-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle bottom"></div>
            </div>
            <div class="nav-header brand-blue">
                <div class="nav-head-inner">
                    <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b63778" class="nav-header-content">
                        <div class="logo-left"><img src="../images/r-logo.svg" height="32" alt="" class="nav-logo"></div>
                        <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b6377b" class="nav-header-text">
                            <div class="nav-head-company">Crash Utah</div>
                            <div class="nav-head-domain">crashutah.com</div>
                        </div>
                        <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b63780" class="nav-click"></div>
                    </div>
                </div>
            </div>
            <div class="nav-items">
                <a href="index.html" class="nav-item w-inline-block">
                    <div class="nav-item-icon">
                        <div class="icon"></div>
                    </div>
                    <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b63786" class="nav-label">Dashboard</div>
                </a>
                <a href="#" class="nav-item w-inline-block">
                    <div class="nav-item-icon">
                        <div class="icon"><strong></strong></div>
                    </div>
                    <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b6378d" class="nav-label">Crash Data</div>
                </a>
                <a href="#" class="nav-item w-inline-block">
                    <div class="nav-item-icon">
                        <div class="icon"><strong></strong></div>
                    </div>
                    <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b63794" class="nav-label">Analysis</div>
                </a>
                <a href="#" class="nav-item w-inline-block">
                    <div class="nav-item-icon">
                        <div class="icon"><strong></strong></div>
                    </div>
                    <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b6379b" class="nav-label">Settings</div>
                </a>
            </div>
            <div class="nav-footer-extra">
                <div class="nav-item separator"></div>
                <a href="#" class="nav-item bottom-item-inner dark-text w-inline-block">
                    <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b637a0" class="nav-item-icon user-bg">
                        <div class="user-icon"><strong class="bold-text">M</strong></div>
                    </div>
                    <div ms-data="first-name" data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b637a4" class="nav-label">John Smith</div>
                    <div class="menu-dots">
                        <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b637a7" class="icon nav-foot-icon"></div>
                    </div>
                </a>
            </div>
        </div>
        <div data-w-id="cdda94d3-bef3-46c5-adcf-584ef9b637a9" class="nav-back"></div>
        <div class="main-block">
            <div class="crash-data-page-table card-shadow">
                <div class="crash-line-item">
                    <div class="text-bold">Crash ID:</div>
                    <div>@Model.crash_id</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Crash Date:</div>
                    <div>@Model.crash_datetime</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Latitude:</div>
                    <div>@Model.lat_utm_y</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Milepoint:</div>
                    <div>@Model.milepoint</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Longitude::</div>
                    <div>@Model.long_utm_x</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Route:</div>
                    <div>@Model.route</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Main Road:</div>
                    <div>@Model.main_road_name</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">City:</div>
                    <div>@Model.city</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">County:</div>
                    <div>@Model.county_name</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Crash Severity:</div>
                    <div>@Model.crash_severity_id</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Pedestrian Involved: </div>
                    <div>@Model.pedestrian_involved</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Work Zone Related: </div>
                    <div>@Model.work_zone_related</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Bicyclist Involved: </div>
                    <div>@Model.bicyclist_involved</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Motorcycle Involved: </div>
                    <div>@Model.motorcycle_involved</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Improper Restraint:</div>
                    <div>@Model.improper_restraint</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Unrestrained:</div>
                    <div>@Model.unrestrained</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">DUI:</div>
                    <div>@Model.dui</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Intersection Related:</div>
                    <div>@Model.intersection_related</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Wild Animal Related:</div>
                    <div>@Model.wild_animal_related</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Domestic Animal Related:</div>
                    <div>@Model.domestic_animal_related</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Overturn Rollover:</div>
                    <div>@Model.overturn_rollover</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Commercial Moter Vehicle Involved:</div>
                    <div>@Model.commercial_motor_veh_involved</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Teenage Driver Involved:</div>
                    <div>@Model.teenage_driver_involved</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Older Driver Involved:</div>
                    <div>@Model.older_driver_involved</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Night/Dark Condition:</div>
                    <div>@Model.night_dark_condition</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Single Vehicle: </div>
                    <div>@Model.single_vehicle</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Distracted Driving: </div>
                    <div>@Model.distracted_driving</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Drowsy Driving:</div>
                    <div>@Model.drowsy_driving</div>
                </div>
                <div class="crash-line-item">
                    <div class="text-bold">Roadway Departure:</div>
                    <div>@Model.roadway_departure</div>
                </div>
            </div>
        </div>
    </div>
